* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  min-width: 320px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #f7f9fc;
}